@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navigation a {
        border: none;
    }

    .hero-content {
        max-width: 400px;
    }

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlight-card-section {
        grid-column: span 3;
    }

    #spotlights {
        grid-template-columns: repeat(3, 1fr);
    }
}