@media (min-width: 768px) {

    #menu-button {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .discover-grid {
    grid-template-columns: repeat(2, 1fr);
}

}

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }

    #forecast {
        justify-content: space-between;
    }

    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
    }
}